<h1>Listing hangout_events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hangout_events.each do |hangout_event| %>
      <tr>
        <td><%= hangout_event.name %></td>
        <td><%= hangout_event.date %></td>
        <td><%= hangout_event.start_time %></td>
        <td><%= hangout_event.end_time %></td>
        <td><%= link_to 'Show', hangout_event %></td>
        <td><%= link_to 'Edit', edit_hangout_event_path(hangout_event) %></td>
        <td><%= link_to 'Destroy', hangout_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hangout event', new_hangout_event_path %>
