<h1 class="text-center">Hangout Events</h1>

<% @hangout_events.each do |hangout_event| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Hangouts</h3>
    </div>
    <div class="panel-body">
      <%= button_to 'Go To Hangout', hangout_event, :method => :get, :class => 'btn btn-primary pull-right' %>
      <strong>Name: </strong><span><%= hangout_event.name %></span><br/>
      <strong>Date: </strong><span><%= hangout_event.date.strftime("%m/%d/%Y") %></span><br/>
      <strong>Start Time: </strong><span><%= hangout_event.start_time.strftime("%k:%M%p") %></span><br/>
      <strong>End Time: </strong><span><%= hangout_event.end_time %></span><br/>
    </div>
  </div>
<% end %>

<%= button_to 'New Hangout', new_hangout_event_path, :method => :get, :class => 'btn btn-primary btn-success btn-large center-block' %>
