<div "hangout-event-info" style="text-align: center">
  <div>
    <h1><%= @hangout_event.name %></h1>
  </div>

  <div>
    <strong>Date:</strong>
    <%= @hangout_event.date.strftime("%m/%d/%Y") %>
  </div>

  <div>
    <strong>Start time:</strong>
    <%= @hangout_event.start_time.strftime("%k:%M%p") %>
  </div>

  <div>
    <strong>End time:</strong>
    <%= @hangout_event.end_time.strftime("%k:%M%p") %>
  </div>
</div>

<div class="col-md-4">
    <h2>Messages:</h2>
    <div id="messages">
      <% @hangout_event.messages.each do |message|%>
      <strong><%= User.find(message.user_id).full_name %>:</strong>
      <span><%= message.text %></span><br />
      <!-- <span><%= message.timestamp.strftime("%m/%d/%Y %I:%M%p") %></span><br /> -->
      <% end %>
    </div>

    <%= form_for(Message.new, remote: true) do |f| %>
      <span class="field">
        <%= f.text_field :text %>
      </span>
      <input name="hangout_id" type="hidden" value=<%= params[:id] %> /> 
      <span class="actions">
        <%= f.submit "Send" %>
      </span>
    <% end %>
</div>

  <div class="col-md-4">
    <h2 class="text-center">Events:</h2>
    <button class="btn btn-success btn-lg center-block" data-toggle="modal" data-target="#create_event" style="margin-bottom: 20px;">
      Create Event
    </button>
    <div id="events">
      <% @hangout_event.events.order('id DESC').each do |event|%>
        <% @event = event %>
        <%= render template: "events/show", locals: {event: @event} %>
      <% end %>
    </div>
    <%= render 'create_event_modal' %>
  </div>

<div class="col-md-4">
  <h3>Attendees</h3>
    <ul>
      <% @hangout_event.attendees.each do |user| %>
      <li><%= user.full_name %></li>
      <% end %>
    </ul>

  <h3>Invited</h3>
    <ul>
      <% @hangout_event.invitees.each do |user| %>
      <li><%= user.full_name %></li>
    <% end %>
    </ul>

  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#invite_user">
    Invite
  </button>
  <%= render 'invite_user_modal' %>
</div>

