<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hangout_event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hangout_event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @hangout_event.start_time %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @hangout_event.endtime %>
</p>

<%= link_to 'Edit', edit_hangout_event_path(@hangout_event) %> |
<%= link_to 'Back', hangout_events_path %>
